mg, embed, object, video{
    max-width: 100%;
}

nav, a, button{
    min-width: 48px;
    min-height: 48px;
    background-color: rgb(255, 255, 255);
   
}
body{
background-color: rgb(103, 207, 165);

    
}
h1 {

font-family:Georgia, 'Times New Roman', Times, serif
color:rgb(214, 255, 255)}
{


    font-family:Georgia, 'Times New Roman', Times, serif
color:azure

    
}
@media screen and (max-width:500px) {
    body{
        background-color: blue;

        
    }
}
body {outline-style: double;
}